includes:
    - ./vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - phpstan-baseline.neon

parameters:
    level: 9
    paths:
        - src
    tmpDir: build/phpstan
    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: true
    checkPhpDocMissingReturn: true

    ignoreErrors:
        - identifier: missingType.iterableValue
