parameters:
	ignoreErrors:
		-
			message: "#^Cannot access offset 'files' on Illuminate\\\\Contracts\\\\Foundation\\\\Application\\.$#"
			count: 1
			path: src/LiquidServiceProvider.php

		-
			message: "#^Cannot access offset 'liquid\\.compiler' on Illuminate\\\\Contracts\\\\Foundation\\\\Application\\.$#"
			count: 1
			path: src/LiquidServiceProvider.php

		-
			message: "#^Cannot access offset 'view\\.engine\\.resolver' on Illuminate\\\\Contracts\\\\Foundation\\\\Application\\.$#"
			count: 1
			path: src/LiquidServiceProvider.php

		-
			message: "#^Parameter \\$cachePath of class Keepsuit\\\\Liquid\\\\LiquidViewCompiler constructor expects string, mixed given\\.$#"
			count: 1
			path: src/LiquidServiceProvider.php
