<header class="bg-white shadow">
    <div class="container mx-auto px-6 py-3">
        <div class="flex items-center justify-between">
            <div class="text-xl font-semibold text-gray-700">
                <a href="#" class="text-gray-800">My Company</a>
            </div>
            <div>
                <a href="#" class="text-gray-800 hover:text-gray-600 mx-4">Home</a>
                <a href="#" class="text-gray-800 hover:text-gray-600 mx-4">About</a>
                <a href="#" class="text-gray-800 hover:text-gray-600 mx-4">Contact</a>
            </div>
        </div>
    </div>
</header>
